   /* input{
        font-weight: bold;
        background-color: #ccffff;*/
	input {
    width: 135px;
    height: 20px;
    border-radius: 5px;
    border: 3px riggid #000; 
    outline: none; 
    resize: none; 
	background-color: #ccffff;
	box-shadow: 5px 5px 5px #373737;
	font-family:cursive;
}


    body{
        background-color: #ddd;
		
		
	
	
    }
	
	
	div
	{
	
		border: hidden;
		background-color: #505054;
		
		box-shadow:2px 1px 1px #B2B2B2;
		font-family: geneva;
		overflow: hidden;
		
		
	
	}
    table{
        font-weight: bold;
		white-space: nowrap;
		box-shadow: #B2B2B2;
		
		
		
		
    }
	fieldset
	{
	height: 1000%;
	border: hidden;
	
	
	}
    .box{
        background-color: #000000;
		border-radius: 10px;
        box-shadow: 10px 10px 20px #373737;
		position: inherited;
		color: white;
		font-family: geneva;
	
		
	
		
    }
    button {
		display: inline-block; 
		background-color: #6699FF;
		
		color: white;
		text-align: center;
		
		
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:13px;
		box-shadow: 5px 5px 10px #373737;
		border: hidden;
		
    }
    img {
        
        display: inline-block; 
		
		
    }
	#wrapper {
    width: 100%;
    min-height: 100%;
	}



    
    
