   /* input{
        font-weight: bold;
        background-color: #ccffff;*/
	input {
    width: 135px;
    height: 20px;
    border-radius: 5px;
    border: 3px riggid #000; 
    outline: none; 
    resize: none; 
	background-color: #ccffff;
	box-shadow: 5px 5px 5px #373737;
	font-family:cursive;
}


    body{
        background-color: #ddd;
		position: relative;
		width: relative;
	
	
    }
	div
	{
	
	border: hidden;
		background-color: #505054;
		box-shadow: 5px 5px 5px #373737;
		font-family: geneva;
	
	}
    table{
        font-weight: bold;
		
		
		
    }
	fieldset
	{
	height: relative;
	border: hidden;
	}
    .box{
        background-color: #000000;
		
        #margin-top: 15px; 
        #margin-bottom: 15px;
        #margin-right: 15px;
        #margin-left: 15px;
       
        border-radius: 10px;
        box-shadow: 10px 10px 20px #373737;
		position: inherited;
		width: relative;
		height: relative;
		color: white;
		font-family: geneva;
		
	
		
    }
    button {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        display: inline-block; 
		background-color: #6699FF;
		color: white;
		text-align: center;
		margin:0;
		padding: 2px 7px 0px 7px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:13px;
		box-shadow: 5px 5px 10px #373737;
		
    }
    img {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        display: inline-block; 
		position: relative;
		
    }

    
    
